body {
    background: radial-gradient(#e10000b6, #6a6a6a) no-repeat fixed;
    font-size: 14px;
    font-family: Verdana;
}

.search-bar {
    margin-top: 50px;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    justify-content: center;
}

hr {
    border: none;
    border-top: 2px solid #684b4b;
    margin: 30px auto;
    width: 80%;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: 16px;
}

.search-bar button,
.search-bar a {
    background-color: #3c3232;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration:none;
}

.search-bar button:hover,
.search-bar a:hover {
    background-color: #684b4b;
}

nav {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin: 0 auto;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    margin: 0 10px;
    font-size: 16px;
}

nav a {
    background-color: #3c3232;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

nav a:hover {
    background-color: #684b4b;
}


footer label {
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 25px;
    color: #3c3233;
    margin-top: 17px;
    display: block;
    text-decoration: none;
}

.anni{}

.classi{}

.studenti{}
